html {
  box-sizing: border-box;
}

.about-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px auto 20px;
  background-color: white;
  text-align: center;
  width: 75%;
}

.about-cards img {
  margin-top: 20px;
}

.about-section {
  padding: 20px;
  text-align: center;
  color: black;
}

.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
